<form [formGroup]="profileForm">
  
  <label>
    First Name:
    <input type="text" formControlName="firstname">
    <span *ngIf="!profileForm.controls['firstname'].valid">*</span>
  </label>

  <label>
    Last Name:
    <input type="text" formControlName="lastname">
    <span *ngIf="!profileForm.controls['lastname'].valid">*</span>
  </label>

  <label>
    Email:
    <input type="text" formControlName="email">
    <span *ngIf="!profileForm.controls['email'].valid">*</span>
  </label>

  <label>
    Empid:
    <input type="text" formControlName="empid">
    <span *ngIf="!profileForm.controls['empid'].valid">*</span>
  </label>

  <label>
    Password:
    <input type="text" formControlName="password">
    <span *ngIf="!profileForm.controls['password'].valid">*</span>
  </label>

  <label>
    Confirm Password:
    <input type="text" formControlName="cpassword">
    <span *ngIf="!profileForm.controls['cpassword'].valid">*</span>
  </label>

  <label>
    Gender:
    <input type="text" formControlName="gender">
    <span *ngIf="!profileForm.controls['gender'].valid">*</span>
  </label>

  <button type="submit" [disabled]="!profileForm.valid" >Submit</button>

</form>